<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <property resource="application.properties" />
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd' 'HH:mm:ss.sss}] [%-5p] %C [%F:%L] %X{TRANS_ID} - trace_id=%X{traceId}, span_id=%X{spanId}, service_identifier=${spring.application.name}, %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${spring.application.name}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${spring.application.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{yyyy-MM-dd' 'HH:mm:ss.sss}] [%-5p] %C [%F:%L] %X{TRANS_ID} - trace_id=%X{traceId}, span_id=%X{spanId}, service_identifier=${spring.application.name}, %m%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />

    </root>
</configuration>